h1 {
  font-family: HeaderFont;
  letter-spacing: 6px
}
h3 {
  font-family: HeaderFont2
}

@font-face {
  font-family: HeaderFont;
  src: url('assets/butler/Butler_Webfont/Butler-Medium.woff2');
}

@font-face {
  font-family: HeaderFont2;
  src: url('assets/lt_wave/LTWave-Regular.otf');
}

.card_container {
    max-width: 800px;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    background-color: #946846;
    padding-left: 15px;
    padding-right: 15px;
}

.content_card {
    /* max-width: 800px;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto; */
    background-color: #f9f7f0;
    border-radius: 4px;
    box-shadow: 8px 12px 2px #2a1d14;
}

.item {
  padding:4px 16px;
  margin-left: auto;
  margin-right: auto;
  float:left;
  width:auto;
  border:none;
  display:block;
  text-decoration: none;
  transition-duration: 200ms;
  outline:0;
  font-family: HeaderFont2;}

.item:hover {
  cursor: pointer;
}
hr.my_divider {
  border:0.5px solid black;
  /* border-bottom:1px solid black; */
  margin:2px 0px
}
.design {
  display: flex;
  max-width: 300px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}