h1 {
  font-family: HeaderFont;
  letter-spacing: 0px;
  font-size: 72pt;
  line-height: 67%;
}
h3 {
  font-family: HeaderFont2
}

@font-face {
  font-family: HeaderFont;
  src: url('assets/roxaine_serif/RoxaineSerif_PERSONAL_USE_ONLY.otf');
}

@font-face {
  font-family: HeaderFontAlt;
  src: url('assets/roxaine_serif/RoxaineSerifItalic_PERSONAL_USE_ONLY.otf')
}

@font-face {
  font-family: HeaderFont2;
  src: url('assets/lt_wave/LTWave-Regular.otf');
}

@font-face {
  font-family: BodyFont;
  src: url('assets/butler/Butler_Webfont/Butler-Light.woff')
}

.card_container {
    max-width: 800px;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    background-color: #1A3D74;
    padding-left: 15px;
    padding-right: 15px;
}

.content_card {
    /* max-width: 800px;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto; */
    background-color: #FDFFF7;
    border-radius: 4px;
    box-shadow: 8px 12px 2px #2a1d14;
}

.item {
  padding:4px 16px;
  margin-left: auto;
  margin-right: auto;
  float:left;
  width:auto;
  border:none;
  display:block;
  text-decoration: none;
  transition-duration: 200ms;
  outline:0;
  font-family: HeaderFont2;}

.item:hover {
  cursor: pointer;
}
hr.my_divider {
  border:0.5px solid black;
  /* border-bottom:1px solid black; */
  margin:2px 0px
}
.design {
  display: flex;
  max-width: 300px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  /* animation: circle_spin 2s infinite linear; */
  /* animation-name: circle_spin_1; */
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}